@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!-- Recently Added Movies-->
<div class="container">
    <div class="row">
        <h1 style="width:100%;">Recently Added Movies</h1>
        @{  
            int i = 0;
            foreach (var item in Model.Movies)
            {
                
                <div class="col-sm-4">
                    <div class="card" style="margin-bottom:20px;">
                        <div class="card-body">
                            <h5 class="card-title">@(item.MovieTitle)</h5>
                            <p class="card-img"><img src="@(item.MovieImage)" alt="MovieImage" style="width:100%;" /></p>
                            <p class="card-text"> @(item.Genre)</p>
                            @{
                                
                                double averageRating = 0;
                                foreach (var movieRating in item.MovieRating)
                                {
                                    averageRating += movieRating.Rating;
                                }


                                if (averageRating != 0)
                                {
                                    averageRating = Math.Round(averageRating / (item.MovieRating.Count), 2);
                                }
                                

                            }
                            <p>
                                <span class="text-secondary">@averageRating stars</span>
                                <span class="text-secondary float-right">@item.MovieComment.Count comments</span>
                            </p>

                            <a asp-page="/Movies/View" class="btn btn-sm btn-danger" asp-route-id="@item.MovieId">View movie</a>
                        </div>
                    </div>
                </div>
                i++;
                if (i > 2) 
                { 
                    break;
                } 
            }
        }

    </div>
</div>
<!-- Movies List -->
<div class="container">
    <div class="row">
        <h1 style="width:100%;">Movies List</h1>
        
        @foreach (var item in Model.Movies)
        {
            <div class="col-sm-4">
                <div class="card" style="margin-bottom:20px;">
                    <div class="card-body">
                        <h5 class="card-title">@(item.MovieTitle)</h5>
                        <p class="card-img"><img src="@(item.MovieImage)" alt="MovieImage" style="width:100%;" /></p>
                        <p class="card-text"> @(item.Genre)</p>
                        @{
                            double averageRating = 0;
                            foreach (var movieRating in item.MovieRating)
                            {
                                averageRating += movieRating.Rating;
                            }


                            if (averageRating != 0)
                            {
                                averageRating = Math.Round(averageRating / (item.MovieRating.Count), 2);
                            }


                        }
                        <p>
                            <span class="text-secondary">@averageRating stars</span>
                            <span class="text-secondary float-right">@item.MovieComment.Count comments</span>
                        </p>
                        <a class="btn btn-sm btn-danger" asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">View movie</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>